<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Compiler Application</title>
	</head>
	<body>
		<form th:action="@{/read_input}" th:object="${reader}" method="post">
			Data: <input type="text" th:field="*{text}" />
			<button type="submit">SUBMIT</button>
		</form>
		<table>
			<tr th:each="token : ${tokenList}">
				
				<td th:text="${token.tokenId}">
				<td th:text="${token.value}">
			</tr>
		</table>
	</body>
</html>